{% extends "sitelayout.html" %}

{% block heading %}
    Education
{% endblock %}

{% block body %}
    <p>
      Harvard University, Online<br>
      Computer Science, Python & JavaScript Certification<br>
      University of West Georgia, Carrollton, GA,	       			Jan 2018 – May 2019<br>
      Master of Business Administration, Business Intelligence & Cyber Security<br>
      University of West Georgia, Carrollton, GA, 	       		           Aug 2013 – May 2017<br>
      Bachelor of Business Administration, Management Information Systems

    </p>

    <a href="{{ url_for('index') }}">See more...</a>
{% endblock %}
