{% extends "sitelayout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
  <main role="main" class="inner cover">

    <h1 class="cover-heading">Professional Profile</h1>

    <p class="lead">
      Determined MBA graduate with excellent communication skills and technical ability. Ready
      leader, driven by the joy of customer satisfaction, and the ability to organize and manage any
      situation efficiently. Intelligent team player that will fit well in any environment and
      productivity will make the jobs of other employees easier. Hardworking team member that will
      utilize problem solving skills to make an immediate impact on the work environment. Proven
      technical ability and business acumen through various technical roles and completion of
      complex course work.
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">About Me</a>
    </p>

  </main>
{% endblock %}
